.App {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

.App-time-buttons {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all ease-out 0.25s;
  transition-property: width height;
}

@media (orientation: landscape) {
  .App-time-buttons {
    flex-direction: row;
    right: 0;
    height: 30vh;
  }
  .App--idle .App-time-buttons {
    height: 100vh;
  }
}

@media (orientation: portrait) {
  .App-time-buttons {
    flex-direction: column;
    bottom: 0;
    width: 30vw;
  }
  .App--idle .App-time-buttons {
    width: 100vw;
  }
}

.App-time-button {
  flex: 1;
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
}

.App-time-button:nth-child(1) {
  background-color: hsl(0, 0%, 0%);
}

.App-time-button:nth-child(2) {
  background-color: hsl(0, 0%, 10%);
}

.App-time-button:nth-child(3) {
  background-color: hsl(0, 0%, 20%);
}

.App-time-button-text {
  transition: font-size ease-out 0.25s;
}

@media (orientation: landscape) {
  .App-time-button-text {
    font-size: 12vh;
  }
  .App--idle .App-time-button-text {
    font-size: 30vh;
  }
}

@media (orientation: portrait) {
  .App-time-button-text {
    font-size: 12vw;
  }
  .App--idle .App-time-button-text {
    font-size: 30vw;
  }
}

.App-content {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: background-color ease-out 0.25s;
}

@media (orientation: landscape) {
  .App-content {
    left: 0;
    top: 30%;
  }
  .App-timer {
    font-size: 35vh;
  }

}

@media (orientation: portrait) {
  .App-content {
    top: 0;
    left: 30%;
  }
  .App-timer {
    font-size: 35vw;
  }

}

.App--under .App-content {
  background-color: hsl(120, 80%, 80%);
}

.App--over .App-content {
  background-color: hsl(0, 80%, 80%);
}

.App-reset {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vmin;
  height: 20vmin;
  z-index: 1;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.App-reset-icon {
  width: 10vmin;
  height: 10vmin;
}
