.App {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

.App-time-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30vw;
  z-index: 2;
  transition: width ease-out 0.25s;
}

.App--idle .App-time-buttons {
  width: 100vw;
}

.App-time-button {
  flex: 1;
  appearance: none;
  border: none;
  outline: none;
}

.App-time-button:nth-child(1) {
  background-color: hsl(200, 80%, 70%);
}

.App-time-button:nth-child(1):active {
  color: hsl(200, 80%, 70%);
}

.App-time-button:nth-child(2) {
  background-color: hsl(200, 80%, 80%);
}

.App-time-button:nth-child(2):active {
  color: hsl(200, 80%, 80%);
}

.App-time-button:nth-child(3) {
  background-color: hsl(200, 80%, 90%);
}

.App-time-button:nth-child(3):active {
  color: hsl(200, 80%, 90%);
}

.App-time-button:active {
  background-color: #000;
}

.App-time-button-text {
  font-size: 15vw;
  transition: font-size ease-out 0.25s;
}

.App--idle .App-time-button-text {
  font-size: 30vw;
}

.App-content {
  position: absolute;
  top: 0;
  left: 30vw;
  right: 0;
  bottom: 0;
}

.App-reset {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vmin;
  height: 20vmin;
  z-index: 1;
}
